@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <h1>Ron's Realty</h1>
</header>
<div class="home-body">
    <div class="row">
        <div class="column">
            <h2>Welcome!</h2>

            <p><b>Come visit Ron's Realty for ridiculously cheap real estate!</b></p>
            <p><b>Founded in 1998 by Mr. Ronald Riley, Ron's Realty continues to provide quality service over the years to come.</b></p>
            <p><b>For more information, check out our property listings or contact us!</b></p>
        </div>
    </div>
    <div class="column">
        <div class="logo">
            <picture>
                <source media='(min-width: 401px)'
                        srcset='images/logo.png' />
                <source media='(max-width: 400px)'
                        srcset='images/logo.png' />
                <img src='images/logo.png' />
            </picture>
        </div>
        <footer>

            <p>Ron's Realty 2020 | 1234 Mountain Road, Moncton | 1-506-1234-5678 | ronsrealty@gmail.com</p>
        </footer>
    </div>
</div>
